{% extends "courses/layout.html" %}

{% block content %}
<br>
<p><strong>Our Address</strong></p>
<address>
    CJ Driving School <br />
    near Kalyan Post Office, Kalyan<br />
    <abbr title="Phone">Phone number:</abbr>
    250436421 / 9124354754
</address>
<p><strong>Training Ground</strong></p>
<address>
    CJ Driving Ground <br />
    opposite Kalyan Post Office, Kalyan<br />
<address>
    <strong>Our email address:</strong>   <a href="mailto:CJDriving@example.com">CJDriving@example.com</a><br />
</address>

{% endblock %}
